body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #353535;
    background-color: #F3F3F3;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 430px;
}

.d-none {
    display: none;
}

@media screen and (min-width: 768px){
    main {
        display: grid;
        grid-template-columns: 60% 1fr;
        grid-template-rows: 100vh;
    } 
}

@media screen and (min-width: 1024px){
    main {
        display: grid;
        grid-template-columns: 70% 1fr;
        grid-template-rows: 100vh;
    } 
}


